<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help Me Out</title>
</head>

<body>
    <!-- Hero banner -->
    <div class="hero-banner">
        <h1 class="hero-title">Help Me Out 🛠️</h1>
    </div>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="#carpentry">Carpentry</a>
        <a href="#electrical">Electrical</a>
        <a href="#plumbing">Plumbing</a>
        <a href="#hvac">HVAC</a>
    </div>
    <h1>Sign In/Sign Up</h1>
    <div>

        <div class="button-container">
            <button onclick="loginAsUser()">
                <a href="/userlog">Sign Up as Customer</a>
            </button>
            <button onclick="loginAsPro()">
                <a href="/prolog">Sign Up as Pro</a>
            </button>
        </div>

    </div>

    {{{body}}}

</body>

</html>