
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/* Style for the navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style for the navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #4CAF50;
    color: black;
}

.hero-banner {
    background-color: rgb(7, 7, 10);
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: #4CAF50;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for the hero banner title */
.hero-title {
    font-size: 65px; /* Adjust the font size as needed */
}

.button-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Add spacing between buttons */
}

/* CSS styles for buttons */
button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline style */
    display: inline-block; /* Make sure buttons are displayed inline */
}

/* Styling for button when hovered */
button:hover {
    background-color: #011502; /* Darker green */
}

/* Style for the nested <a> tags */
button a {
    color: white;
    text-decoration: none; /* Remove underline style */
}

.hero-banner .hero-title {
    color: #4CAF50;
}